body {
    font-size: 12px;
    width: 100vw;
    overflow-x: hidden;
    color: #636363;
}

.header {
    font: 300 3.33em OpenSansLight;
    margin-top: 110px;
}

.gradient {
    background: #eaf2eb; /* Old browsers */
    background: -moz-linear-gradient(top, #eaf2eb 0%, #fceae9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eaf2eb 0%, #fceae9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eaf2eb 0%, #fceae9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaf2eb', endColorstr='#fceae9', GradientType=0); /* IE6-9 */
}

.block-spacing {
    margin: 70px 0 130px;
}

.m-b-sm {
    margin-bottom: 20px;
}

.m-t-xs {
    margin-top: 10px;
}

.m-t-sm {
    margin-top: 20px;
}

.m-t-md {
    margin-top: 40px;
}

.m-t-lg {
    margin-top: 70px;
}

.tablet-m-t-sm {
    margin-top: 25px;
}

.main {
    background: url("./image/bg-main.jpg") center / cover no-repeat;
    height: 100vh;
    text-align: center;
    color: #fff;
    overflow: hidden;
    &-text-block {
        padding-top: 27vh;
        .small-text {
            font: 3.13em 'OpenSansLight';
        }
        .large-text {
            font: 4em 'OpenSansSemiBold';
            margin-top: 5%;
            line-height: 60px;
        }
    }
    &-footer-block {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(14, 5, 0, .5);
        padding: 20px 0;
        font: 1.66em 'OpenSansRegular';
        border-bottom: 7px solid #ec6762;
        p {
            max-width: 767px;
            margin: auto;
            line-height: 1.7em;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }
}

.second {
    //color: #636363;
    border-bottom: 1px solid #dbdbdb;
    .info-block p {
        font: 1.8em 'OpenSansLight';
        margin-top: 40px;
    }
    .icons {
        height: 175px;
        width: 175px;
        line-height: 220px;
        border: 1px solid #b6b6b6;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        svg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.third {
    p {
        font: 1.33em 'OpenSansLight';
    }
    .icons {
        height: 100px;
        width: 100px;
        display: inline-block;
        position: relative;
        border: 1px solid #CCC;
        border-radius: 50%;
        svg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &.phone svg {
            left: 6px;
        }
    }
    .buttons {
        text-decoration: none;
    }
}

.three-half {
    background: #f9f9fa;
    border-bottom: 1px solid #C3C3C3;
    table {
    }
    td {
        border-color: #f9f9fa !important;
        font-size: 1.2em;
    }
    .gr-head {
        text-transform: uppercase;
        background: #69a571;
        th {
            color: #ffffff;
            font-weight: 100 !important;
            font-size: 1.4em;
            padding: 13px 0;
            text-align: center;
            &:first-child {
                text-align: left !important;
                padding-left: 11px !important;
            }
        }
        &-light,
        &-dark {
            font-weight: 100;
            width: 28%;
            color: #3c3c3c;
            padding: 13px 17px 13px 12px !important;
        }
        &-light {
            background: #ebf2eb;
        }
        &-dark {
            background: #d9e6d9;
        }
    }
    .gr {
        &-light,
        &-dark {
            width: 14.6%;
            text-align: center;
            vertical-align: middle;
        }
        &-light {
            background: #f3fcf3;
        }
        &-dark {
            background: #ebf5eb;
        }
        &-tick {
            color: #69a571;
            font-size: 18px;
        }
    }
}

.fourth {
    .image-block {
        position: relative;
        height: 100px;
    }
    .img-responsive {
        max-height: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
}

.fifth {
    background: #f9f9fa;
    span {
        border: 2px solid #69a571;
        border-radius: 55px;
        height: 65px;
        width: 65px;
        line-height: 65px;
        color: #636363;
        font-size: 3em;
        display: inline-block;
    }
    .box-number p {
        font-size: 1.33em;
    }
    .green-line {
        border-bottom: 2px solid #69a571;
        height: 45px;
        padding-top: 30px;
        margin-bottom: 30px;
        .fa-dot-circle-o {
            border-radius: 50%;
            color: #69a571;
            font-size: 2.5em;
            background: #F9EBE9;
        }
    }
    .bottom-text p {
        font: 1.6667em/1.2em 'OpenSansSemiBold';
    }
}

.buttons {
    color: #fff !important;
    line-height: 25px;
    border-radius: 30px;
    font: 1.5em 'OpenSansLight';
    &.btn-login {
        background-color: #69A571;
        padding: 15px 38px;
        transition: background-color .3s, box-shadow .3s;
        &:hover {
            background-color: #599061 !important;
            text-decoration: none;
        }
    }
}