@import "includes/fonts";
@import "bootstrap/bootstrap";
//@import "includes/reset";
@import "includes/settings";
@import "header";
@import "content";
@import "footer";
@import "includes/media";

html, body {
    //overflow-x: hidden;
    //-moz-user-select: none;
    //-khtml-user-select: none;
    //user-select: none;
}

.container {
    max-width: 960px;
}

.row {
    //max-width: 960px;
    //margin: 0 auto;
    //position: relative;
}

button {
    border: none;
    outline: 0;
}

.clickable {
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.vcenter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
}